@model SistemaDeBarbeariaFront.Models.Barbeiro

<h1>Detalhes do Barbeiro</h1>

<div>
    <h3>Nome: @Model.NomeBarbeiro</h3>
    <p>Especialidade: @Model.Especialidade</p>
</div>

<a class="btn btn-secondary" href="@Url.Action("Index")">Voltar</a>
